.App {
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

#chart-title {
	font-size: 3vw;
}

#range {
	padding: 1.5rem;
}

.table {
	display: flex;
	justify-content: center;
	border-collapse: collapse;

	border-top: 0px;
	font-size: 1.5rem;
}

#negative {
	color: red;
}
#table-start {
	font-weight: bold;
	border-top: 0;
}

.table-row {
	justify-content: space-between;
	flex-direction: row;
	border-bottom: 1px solid black;
	border-top: 1px solid black;
	border-collapse: collapse;
}
.td {
	padding-right: 1rem;
}
.td-end {
	padding-right: 0rem;
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
